@model List<MyBlog.DTO.CityDTO>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Kullanıcılar</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Yeni Kullanıcı</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" class="form-horizontal form-label-left" novalidate>
                            <p>
                                Blog kullanıcılarının kayıt bölümüdür.
                            </p>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FirstName">
                                    İsim <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstName" class="form-control col-md-7 col-xs-12" name="FirstName" placeholder="İsim" required="required" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="LastName">
                                    Soyisim <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="LastName" class="form-control col-md-7 col-xs-12" name="LastName" placeholder="Soyisim" required="required" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">
                                    E-Posta <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="Email" class="form-control col-md-7 col-xs-12" name="EmailAddress" placeholder="E-Posta" required="required" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                                    Şifre <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="password" class="form-control col-md-7 col-xs-12" name="Password" placeholder="Şifre" required="required" type="text">
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="cities">
                                    Şehir <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="City" class="form-control col-md-7 col-xs-12">
                                        <option value="">Seçiniz</option>
                                        @foreach (var item in Model)
                                        {
                                            <option value="@item.CityID">@item.CityName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="towns">
                                    İlçe <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select id="Town" name="TownId" class="form-control col-md-7 col-xs-12">
                                        <option>Seçiniz</option>
                                    </select>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <a class="btn btn-danger" href="/Category">İptal</a>
                                    <input class="btn btn-success" type="submit" name="Save" value="Kaydet" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<script src="/Content/vendors/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $('#City').change(function () {
            var id = $('#City').val();
            console.log(id);

            $.ajax({
                url: "/User/GetTowns/" + id,
                type: "GET",
                data: {},
                success: function (response) {
                    console.log(response);
                    $('#Town').empty();
                    $('#Town').append('<option value="">Seçiniz</option>');

                    $.each(response, function (i, v) {
                        console.log(i, v);
                        $('#Town').append('<option value="' + v.TownID + '">' + v.TownName + '</option>');
                    });
                },
                error: function (err) {

                    console.log(err);
                    alert(err);
                }
            });
        });
    });
</script>

